* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-size: 1em;
}

.main-body {
  background-color: #EFEFEF;
}

header {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


h1 {
  text-align: center;
  margin-bottom: 0;
}

.logo {
  color: black;
  text-decoration: none;
}

.logo:hover {
  cursor: pointer;
}

.logo:visited, .logo:link {
  color: black;
}

#home {
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 0 16px;
}

form {
  display: flex;
  margin: 15px auto;
}

form .center {
  background-color: white;
  padding: 5px 0 5px 5px;
}

label, input {
  font-size: 1.05em;
  border: none;
}

label {
  font-weight: 700;
  vertical-align: middle;
}

input {
  padding: 5px 10px;
  width: 100%;
  font-weight: 400;
}

.search-icon {
  font-size: 1.5em;
  padding: 10px 15px;
}

.search-icon:hover {
  cursor: pointer; 
}

@media screen and (min-width: 768px) {
  form input {
    font-size: 1.2em;
  }

  form label { 
    font-size: 1.4em;
  }
}


.error-message {
    color: red;
    text-align:center;
    
}

#results-list, #results-list li {
  list-style-type: none;
}
#results-list li {
  margin: 0 auto;
}

.candidate {
  max-width: 90%;
  margin: 16px auto;
  padding: 15px 0;
  border-top: solid 1px grey;
  display: flex;
  flex-direction: column;
}

.candidate .img-container {
  max-height: 210px;
  max-width: 210px;
}

.candidate .img-container img {
  max-height: 210px;
  max-width: 210px;
  border-radius: 5px;
}

.candidate .candidate-details {
  line-height: 150%;
  max-height: 210px;
  flex: 1 1 100%;
}

.candidate .candidate-details::after {
  content: "";
  display: table;
  clear: both;
}

.candidate-details .column {
  float: left;
  width: 50%;
  padding: 0 5px;
}

.candidate-details .candidate-name {
  display: block;
  font-weight: 700;
}

.candidate-details .rating {
  display: inline-block;

}

.candidate-details .rating-total {
  display: inline-block;
}

.rating .star {
  color: orange;
}

.price-level .price {
  color: grey;
}


@media screen and (min-width: 768px) {
  .candidate {
    flex-direction: row;
  }

  .candidate .img-container {
    align-self: flex-start;
    object-fit: contain;
    margin-right: 10px;
  } 
}

@media screen and (min-width: 900px) {
  .candidate .candidate-details {
    font-size: 1.2em;
  }

  .candidate-details .candidate-name {
    font-size: 1.5em;
  }
}

#park-header {
  background-color: #EFEFEF;
}