* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*body style for index*/
#parkeats-home {
  background: rgba(0,0,0,0.3) url(https://images.unsplash.com/photo-1511207538754-e8555f2bc187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

/*body style for park*/
#parkeats-park {
  background: url(https://images.unsplash.com/photo-1534269222346-5a896154c41d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100vh;
  background-blend-mode: multiply;
  background-color: #808080;
  margin: 0 auto;
  margin-top: 200px;
}

/*body style for eats*/
#parkeats-eats {
  background: url(https://images.unsplash.com/photo-1561651823-34feb02250e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100vh;
  background-blend-mode: multiply;
  background-color: #808080;
  margin: 0 auto;
  margin-top: 200px;
}

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

@media screen and (min-width: 568px) {
  #parkeats-park, #parkeats-eats {
    margin-top: 150px;
  }
}

#home .logo {
  border: solid 5px white;
 
}

#park .logo, 
#eats .logo {
  border: solid 3px white;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2 {
  text-align: center;
  margin: 0;
  color: white;
  font-size: 2em;
  letter-spacing: 4px;
  padding: 15px 20px;
}

h2 {
  padding: 10px 15px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4em;
  }

  #park .logo, 
  #eats .logo{
    border: solid 4px white;
  }
}


.park:hover, 
.park:focus,
#park .logo .park {
  color: #087829;
}

.eats:hover,
.eats:focus,
#eats .logo .eats {
  color: #B30200;
}

.logo a {
  color: white;
}

#home {
  min-height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 0 16px;
}

#park-header {
  background-color: #044016;
}

#eats-header {
  background-color: #400100;
}

.search-header {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

form {
  display: flex;
  margin: 15px auto;
}

form .center {
  background-color: white;
  padding: 5px 0 5px 5px;

  border: 3px solid grey;
  border-right: none;
  outline: none;
  border-radius: 5px 0 0 5px;
}

label, input {
  font-size: 1.05em;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

label {
  font-weight: 700;
  vertical-align: middle;
}

input {
  padding: 5px 10px;
  width: 100%;
  font-weight: 400;

  border: 3px solid grey;
  border-right: none;
  border-left: none;
  outline: none;
  
}



.search-icon {
  font-size: 1.2em;
  padding: 10px 15px;

  border: 1px solid grey;
  background: grey;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
}

.search-icon:hover {
  cursor: pointer; 
}

.park-search:hover,
.park-search:focus {
  background-color: #087829;
  border: 1px solid #087829;
}

.eats-search:hover,
.eats-search:focus {
  background-color: #B30200;
  border: 1px solid #B30200;
}

a:focus,
button:focus,
input:focus {
  outline: none;
}

@media screen and (min-width: 568px) {
  .search-header {
    flex-direction: row;
    justify-content: flex-start;
  }

  form {
    margin: 15px;
  }

  form input {
    font-size: 1.2em;
  }

  form label { 
    font-size: 1.4em;
  }
}


.error-message {
    color: red;
    width: 100%;
    text-align: center;
}

#results-list, #results-list li {
  list-style-type: none;
}
#results-list li {
  margin: 0 auto;
}

/*For listed of parks/restaurants*/
.candidate {
  max-width: 90%;
  margin: 16px auto;
  padding: 15px 0;
  border-top: solid 1px grey;
  display: flex;
  flex-direction: column;
}

.candidate .img-container {
  max-height: 210px;
  width: 320px;
  margin-bottom: 15px;
}

.candidate .img-container img {
  max-height: 210px;
  max-width: 210px;
  border-radius: 5px;
}

.candidate .candidate-details {
  line-height: 150%;
  max-height: 210px;
  flex: 1 1 100%;
  font-size: 1.2em;
}

/*For side by side text in two columns*/
.candidate .candidate-details::after,
#park-details .park-contacts::after,
#park-details .park-fees::after {
  content: "";
  display: table;
  clear: both;
}

.candidate-details .column,
.park-contacts .column,
.park-fees .column {
  float: left;
  width: 50%;
  padding: 0 8px;
}

.candidate-details .candidate-name {
  display: block;
  font-weight: 700;
  font-size: 1.5em;
}


.rating .star {
  color: orange;
}

.price-level .price {
  color: white;
}

/*Search bar next to logo*/
@media screen and (min-width: 768px) {
  @media screen and (min-height: 768px) {
    .candidate {
      flex-direction: row;
    }

    .candidate .img-container {
      align-self: flex-start;
      object-fit: contain;
      margin-right: 10px;
      margin-bottom: 0;
    } 

    .candidate-details .rating {
      display: inline-block;

    }

    .candidate-details .rating-total {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 900px) {
  .candidate .candidate-details {
    font-size: 1.2em;
  }

  .candidate-details .candidate-name {
    font-size: 1.5em;
  }
  
}

/*park.html #park-details section*/
#park-details .wrapper {
  
  margin: 0 auto;
  line-height: 200%;
  padding: 10px;
}

#park-details .image-container {
  width: 95%;
  position: relative;
  margin: 0 auto;
}

#park-details .image-container .photo {
  display: inline-block;
  width: 25%;
}

#park-details .image-container img {
  margin: 0 auto;
  height: 170px;
  max-width: 100%;
  display: block;
}

#park-details .park-name {
  width: 100%;
  text-align: center;
  margin: 20px auto 10px;
  font-size: 2em;
}

.park-contacts, .park-fees {
  border-bottom: solid 1px grey;
  padding: 25px;
}

#park-details h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

#park-details .park-description, #park-details .park-weather {
  border-bottom: solid 1px grey;
  text-align: center;
  padding: 25px;
  
}

.park-fees .fee-title {
  text-decoration: underline;
}

.park-fees .fee-description {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  @media screen and (min-height: 768px) {
    .park-contacts, .park-fees, .park-description, .park-weather {
      font-size: 1.5em;
    }

    #park-details .park-name {
      font-size: 2.5em;
    }
  }
}

.direction,
.direction:visited {
  color: #0073BB;
}

.park-candidate,
.parkUrl,
.park-candidate:visited,
.parkUrl:visited {
  color: white;
}

.direction:hover,
.park-candidate:hover,
.parkUrl:hover,
.direction:focus,
.park-candidate:focus,
.parkUrl:focus {
  color: #087829;
}

/*Preloading styles*/
#hidden {
  display: none;
}


#loader {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  width: 100px;
  height: 100px;
  margin: 5px 0 0 -45px;
  
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@media screen and (min-width: 768px) {
  @media screen and (min-height: 768px) {
    #loader {
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
    }
  }
}

/*Preloading animation*/
@keyframes spin {
  0% { 
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); 
  }
  
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); 
  }
}

/*Show page content animation after preloading*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  -moz-animation-name: animatebottom;
  -moz-animation-duration: 1s;
  -o-animation-name: animatebottom;
  -o-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes animatebottom { 
  from { 
    -webkit-bottom:-100px;
    -moz-bottom:-100px;
    -o-bottom:-100px;
    bottom:-100px;
    -webkit-opacity:0;
    -moz-opacity:0;
    -o-opacity:0;
    opacity:0;
  } 

  to { 
    -webkit-bottom:0;
    -moz-bottom:0;
    -o-bottom:0;
    bottom:0;
    -webkit-opacity:1;
    -moz-opacity:1;
    -o-opacity:1;
    opacity:1;
  }
}